* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}
div {
    display: flex;
}



.navigation {
    background-color: #FF6F00;
    height: 180px; 
}

.header_main {
    height: 1300px;
    position: relative;
    /* релатив нужно? */
}
.header_main::before {
    content: '';
    position: absolute;
    top: 44%;
    background-color: #FFFFFF;
    opacity: .1;
    height: 14%;
    width: 100%; 
}
.sidebar {
    background-color: #54B94F;
    width: 30%;
    height: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar_box1 {
    height: 18%;
    width: 80%;
    background-color: #3D9838;
    margin: 18px;
}
.sidebar_box2 {
    height: 18%;
    width: 80%;
    background-color: #3D9838;
    margin: 18px;
}
.sidebar_box3 {
    height: 18%;
    width: 80%;
    background-color: #3D9838;
    margin: 18px;
}
.sidebar_box4 {
    height: 18%;
    width: 80%;
    background-color: #3D9838;
    margin: 18px;
}

.graphic_main {
    background-color: #2D2958;
    width: 70%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.graphic_block1 {
    width: 90%;
    height: 15%;
    display: flex;
}
.graphic_block2 {
    width: 90%;
    height: 20%;
    align-items: center;
    justify-content: center;
}
.graphic_block3 {
    width: 90%;
    height: 65%;
}
.graphic_box1 {
    width: 150px;
    height: 150px;
    background-color: #55508E;
    margin: auto;
}
.graphic_box2 {
    width: 200px;
    height: 100px;
    background-color: #342E79;
    position: absolute;
    margin: 0 0 0 800px;
    /* как выставить нррмально? */
}
.graphic_box3 {
    height: 80%;
    width: 100%;
    background-color: #403C6F;
}
.graphic_box4 {
    height: 90%;
    width: 200px;
    background-color: #342E79;
    margin: 50px 20px 50px 0;
}
.graphic_box5 {
    height: 90%;
    width: 800px;
    background-color: #342E79;
    margin: 50px 0 50px 20px;
}


.catalog {
    height: 1350px;
    display: block;
}
.catalog_block1 {
    background-color: #1A647D;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: line;
}
.catalog_box1 {
    height: 100%;
    width: 25%;
    background-color: #42A7CA;
}
.catalog_box2 {
    height: 100%;
    width: 25%;
    background-color: #3C7F96;
}
.catalog_box3 {
    height: 100%;
    width: 25%;
    background-color: #1A647D;
}
.catalog_box4 {
    height: 100%;
    width: 25%;
    background-color: #093342;
}
.catalog_block2 {
    background-color: #42A7CA;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: line;
}
.catalog_box5 {
    height: 100%;
    width: 25%;
    background-color: #243F48;
}
.catalog_box6 {
    height: 100%;
    width: 50%;
    background-color: #2C5E6F;
}
.catalog_box7 {
    height: 100%;
    width: 25%;
    background-color: #0C2B35;
}
.catalog_block3 {
    background-color:#093342;
    width: 100%;
    height: 450px;
}
.catalog_box8 {
    height: 100%;
    width: 25%;
    background-color: #548392;
}
.catalog_box9 {
    height: 100%;
    width: 25%;
    background-color: #164F63;
}
.catalog_box10 {
    height: 100%;
    width: 25%;
    background-color: #232F33;
}
.catalog_box11 {
    height: 100%;
    width: 25%;
    background-color: #3A7F96;
}
.sale {
    height: 1000px;
    background-color:#792626;
    align-items: center;
    justify-content: center;
}
.sale_block {
    height: 60%;
    width: 60%;
    background-color: #A73A3A;
}
.calendar {
    height: 1670px;
    display: block;
    background-color:#23143C;
}
.footer_main {
    height: 950px;
    background-color:#2F2F2F;
    display: block;
}
.footer_block1 {
    height: 110px;
    width: 100%;
    margin-left: auto
}
.footer_box1 {
    height: 5px;
    width: 90%;
    background-color: #3C3B3B;
    margin: 100px auto;
} 
.footer_block2 {
    height: 700px;
    width: 100%;
}
.footer_block3 {
    height: 140px;
    width: 100%;
}
.footer_box2 {
    height: 40px;
    width: 90%;
    background-color: #A9A8A8;
    margin: 40px auto;
}